{% extends "layout.html" %}

{% block title %}
GSU SHARE
{% endblock %}

{% block body %}

<div class="content-main">
  <h1>Enjoy.share.</h1>
  <span>
    <p><a href="{{url_for('postpage')}}">+Post Resources</a></p>
    <label for="cars">Choose by tags:</label>
    <select name="tags" id="tags">
      <option value="travel">travel</option>
      <option value="productivity">productivity</option>
      <option value="career">career</option>
      <option value="health">health</option>
    </select>
  </span>

  <div class="content-results"></div>

</div>

<script>
  $.getJSON("http://localhost:5000/contentdb", function (data) {

    var cont = "";
    //Iterating through rows
    $.each(data, function (key, value) {
      cont += "<div class=\"card-cont\">";
      cont += "<h2 calss=\"title\">" + value.title + "</h2>";
      cont += "<p class=\"author\">" + value.author + " | " + value.date + "</p>";
      cont += "<p class=\"description\">" + value.body + "</p>";
      cont += "<div class=\"card-footer\"></td>";
      cont += "<p>" + value.tag + "</p>"
      cont += "</div>"
      cont += "</div>";
    });
    //Inserting rows into table
    $('.content-results').append(cont);
  });
</script>

{% endblock %}