<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/post-page.scss') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.4.min.js') }}"></script>
    <script  src=".{{url_for('static', filename='js/validation.js')}}"></script>


    {% block head %} {% endblock %}
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <!-- <div class="logo">
                    <h3> <span class="gsu">G.S.U</span> SHARE</h3>
                </div> -->
                <div class="logo">
                    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
                    <svg viewBox="0 0 210 160">
                        <path id="curve"
                            d="m 58, 112 c-25, 0 -46, -20-46, -46 c0, -25 20,-46 46, -46 c25, 0 46, 20 46, 46 c0, 25 -20, 46 -46, 46 z"
                            fill="none" />
                        <text font-size="11.5" font-family="Oswald" fill="#0039A6" stroke="#0039A6" stroke-width="0.4">
                            <textPath xlink:href="#curve" startOffset="15%">
                                YOUR CAMPUS RESOURCE SOLUTION!
                            </textPath>
                        </text>
                        <text x="42" y="101" font-size="60" font-family="Sans-Serif" fill="#0039A6" stroke="#0039A6"
                            stroke-width="3">GSU</text>
                        <text x="47" y="152" font-size="60" font-family="Sans-Serif" fill="#0039A6" stroke="#0039A6"
                            stroke-width="3">Share</text>
                    </svg>
                </div>
                
                <ul>
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('content')}}">Resources</a></li>
                    <li><a href="{{url_for('contact')}}">Contact</a></li>
                    <li><a href="{{url_for('portfolio')}}">portfolio</a></li>

                    <!-- this menu will display if the admin is logged in -->
                    {% if "user" in session %}
                    <li><a href="{{url_for('login')}}">resource list</a></li>                    
                    {% endif %}
                </ul>

                <div>
                    <!-- set the button "log in" if the user is not logged in and set the button "log out" if the user is logged in -->
                    {% if "user" in session %}
                    <h4><a href="{{url_for('logout')}}" class="login">Log out</a></h4>
                    {% else %} 
                    <h4><a href="{{url_for('login')}}" class="login">Log in</a></h4>
                    {% endif %}
                </div>
                <a href="#" class="mobile">&#9776;</a>
            </nav>
            <hr>
        </header>
        <!-- <aside>
            {% block aside %}
            {% endblock %}
        </aside> -->
        <main>

            {% block body %}
            {% endblock %}
        </main>
        <footer>
            
            <span>
                <p>Team 7 &copy; <span id="year">2023</span></p>
            </span>
            <span>
                <ul>
                    <li><a href="{{url_for('copyright')}}">&copy; <span id="year">2023</span> GSU Share</a></li>
                    <li><a href="{{url_for('aboutUs')}}">About Us</a></li>
                    <li> <a href="{{url_for('privacy')}}">Privacy Policy</a></li>
                    <li><a href="{{url_for('terms')}}">Terms of Service</a></li>
                </ul>
            </span>
        </footer>
    </div>
    <script>
        // Get the current year and update the year in the copyright notice
        document.getElementById("year").textContent = new Date().getFullYear();
    </script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        // Get the current year and update the year in the copyright notice
        document.getElementById("year").textContent = new Date().getFullYear();
    </script>
</body>

</html>