{% extends "layout.html" %}

{% block title %}
GSU SHARE login
{% endblock %}

{% block body %}
            <form_section>
        <form action="#">
        <label for="username">
            user name: <br>
            <input type="text" id="username" class="input_feild" name="username">
        </label>
        <br>
        <label for="password">
            password: <br>
            <input type="password" id="password" class="input_feild" name="password">
        </label>
        <br>
        <button type="submit" class="input_button">Log in</button>
       <p> Don't have account?<a href="./{{url_for('registration')}}" style="color:#2272ff;"> Create new account </a></p>
        </form>
    </form_section>
    {% endblock %}