{% extends "layout.html" %}

{% block title %}
GSU SHARE
{% endblock %}

{% block body %}
            <content class="cardholder">
                <div class="card">
                    <img src="./team2.jpg" alt="John" style="width:100%">
                    <h1>Patel</h1>
                    <p class="title">CEO & Founder, Example</p>
                    <p>Harvard University</p>
                    <a href="#"class="linker"><i class="fa fa-dribbble"></i></a>
                    <a href="#"class="linker"><i class="fa fa-twitter"></i></a>
                    <a href="#"class="linker"><i class="fa fa-linkedin"></i></a>
                    <a href="#"class="linker"><i class="fa fa-facebook"></i></a>
                    <p><button id="contact">Contact</button></p>
                  </div>
                  <div class="card">
                    <img src="./team2.jpg" alt="John" style="width:100%">
                    <h1>Kaleb</h1>
                    <p class="title">CEO & Founder, Example</p>
                    <p>Harvard University</p>
                    <a href="#"class="linker"><i class="fa fa-dribbble"></i></a>
                    <a href="#"class="linker"><i class="fa fa-twitter"></i></a>
                    <a href="#"class="linker"><i class="fa fa-linkedin"></i></a>
                    <a href="#"class="linker"><i class="fa fa-facebook"></i></a>
                    <p><button id="contact">Contact</button></p>
                  </div>
                  <div class="card">
                    <img src="./team2.jpg" alt="John" style="width:100%">
                    <h1>Josh</h1>
                    <p class="title">CEO & Founder, Example</p>
                    <p>Harvard University</p>
                    <a href="#"class="linker"><i class="fa fa-dribbble"></i></a>
                    <a href="#"class="linker"><i class="fa fa-twitter"></i></a>
                    <a href="#"class="linker"><i class="fa fa-linkedin"></i></a>
                    <a href="#"class="linker"><i class="fa fa-facebook"></i></a>
                    <p><button id="contact">Contact</button></p>
                  </div>
                  <div class="card">
                    <img src="./team2.jpg" alt="John" style="width:100%">
                    <h1>Aman</h1>
                    <p class="title">CEO & Founder, Example</p>
                    <p>Harvard University</p>
                    <a href="#"class="linker"><i class="fa fa-dribbble"></i></a>
                    <a href="#"class="linker"><i class="fa fa-twitter"></i></a>
                    <a href="#"class="linker"><i class="fa fa-linkedin"></i></a>
                    <a href="#"class="linker"><i class="fa fa-facebook"></i></a>
                    <p><button id="contact">Contact</button></p>
                  </div>
            </content>
            {% endblock %}