{% extends "layout.html" %}

{% block title %}
GSU SHARE
{% endblock %}

{% block body %}


<h2>Our team</h2>
<div class="card-wrapper">
  <div class="portfolio-card">
    <img src="{{url_for('static', filename='/images/portfolio_Sagar.png')}}" alt="Avatar" style="width:100%">
    <div class="card-container">
      <h4><b>Sagar Patel</b></h4>
      <p>Database Designer</p>
    </div>
  </div>

  <div class="portfolio-card">
    <img src="{{url_for('static', filename='/images/portfolio_Kaleb.png')}}" alt="Avatar" style="width:100%">
    <div class="card-container">
      <h4><b>Kaleb Kidane</b></h4>
      <p>Project Manager</p>
    </div>
  </div>

  <div class="portfolio-card">
    <img src="{{url_for('static', filename='/images/portfolio_Amanuel.png')}}" alt="Avatar" style="width:100%">
    <div class="card-container">
      <h4><b>Amanuel Feyisa</b></h4>
      <p>Backend</p>
    </div>
  </div>

  <div class="portfolio-card">
    <img src="{{url_for('static', filename='/images/portfolio_Josh.png')}}" alt="Avatar" style="width:100%">
    <div class="card-container">
      <h4><b>Josh Olawole</b></h4>
      <p>Frontend</p>
    </div>
  </div>


</div>
{% endblock %}