{% extends "layout.html" %}

{% block title %}
GSU SHARE
{% endblock %}

{% block body %}
<h3>Registration</h3>
<hr>
<form_section>
    <form action="#" method="GET">
        <label for="email">
            Email: <br>
            <input type="text" id="email" class="input_feild" name="email">
        </label>
        <br>
        <label for="username">
            Username: <br>
            <input type="text" id="username" class="input_feild" name="username">
        </label>
        <br>
        <label for="password">
            Password: <br>
            <input type="password" id="password" class="input_feild" name="password">
        </label>
        <br>
        <label for="cpassword">
            Confirm Password: <br>
            <input type="password" id="cpassword" class="input_feild" name="cpassword">
        </label>
        <br>
        <button type="submit" class="input_button" onclick="validation()">create your account</button>
        <p> By creating an account you agree to our Terms of Service and Privacy.</p>
    </form>
</form_section>
<div id="error" style="color: #b30000; font-weight: bold; text-align: center;"></div>
<div style="padding: 20px;">
    <img src="static\images\sign_up_art.png" style="opacity: 0.6;">
</div>
{% endblock %}