/* variables */
:root{
    --neonBlue: #2272ff;
    --black: #1D1D1;
    --beige: #DDD0C8;
    --grey: #323232;
}
/* body */
body{
    font-family: 'poppins', sans-serif;
}
.gsu{
    color: var(--neonBlue);
}

/* nav bar */
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--grey);
}
.login{
    color: var(--neonBlue);
}
img{
    max-width: 100%;
    height: auto;
    margin-top: 15px;
}

/* navigation */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

nav ul li{
    display: inline;
    padding: 0 16px;
}

/* mobile */

.mobile{
    display: none;
}
.show{
    display: block;
}
@media (max-width: 768px) {
    nav{
        position: static;
    }
    nav ul{
        display: none;
        width: 100%;
        background-color: var(--beige);
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        height: 40vh;
        text-align: center;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        color: var(--grey);
    }
    a.mobile{
        color: var(--grey);
        display: block;
        font-size: 32px;
    }
}

/* container */
.container{
    display: grid;
    grid-template-columns: (3,1fr);
    grid-template-rows: 100px auto 100px;
    height: 100vh;
}

/* header */
header{
    grid-column-start: span 3;
}

/* aside */
aside{
    grid-column-start:span 1 ;
    padding: 64px;
}

/* main */
main{
    grid-column-start: span 2;
}

/* footer */
footer{
    grid-column-start: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--beige);
}

/* media  */
@media (max-width: 768px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto;
        width: 100%;
    }
    header,aside,main,footer{
        grid-column-start: span 1;
    }
}