{% extends "layout.html" %}

{% block title %}
GSU SHARE
{% endblock %}

<!-- {% block aside %}
<ul>
    <li>Stationary</li>
    <li>cata 1</li>
    <li>cata 2</li>
    <li>cata 3</li>
    <li>cata 4</li>
    <li>cata 5</li>
</ul>
{% endblock %} -->
{% block body %}

<div class="main1">
  <h1>Enjoy.share.</h1>
  <span>
    <p><a href="{{url_for('postpage')}}">+Post Resources</a></p>
    <label for="cars">Choose by tags:</label>
    <select name="tags" id="tags">
      <option value="travel">travel</option>
      <option value="productivity">productivity</option>
      <option value="career">career</option>
      <option value="health">health</option>
    </select>
  </span>


  <!-- <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
          <div class="card_content">
            <h2 class="card_title">Card Grid Layout</h2>
            <footer1>
                <div class="post-meta">
                  <span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span>
                  <span class="comments"><i class="fa fa-comments"></i><a href="#"> 19 comments</a></span>
                  </div>
              </footer1>
            <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
            <button class="btn card_btn">Read More</button>
          </div>
          
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://picsum.photos/500/300/?image=5"></div>
          <div class="card_content">
            <h2 class="card_title">Card Grid Layout</h2>
            <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://picsum.photos/500/300/?image=11"></div>
          <div class="card_content">
            <h2 class="card_title">Card Grid Layout</h2>
            <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://picsum.photos/500/300/?image=14"></div>
          <div class="card_content">
            <h2 class="card_title">Card Grid Layout</h2>
            <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://picsum.photos/500/300/?image=17"></div>
          <div class="card_content">
            <h2 class="card_title">Card Grid Layout</h2>
            <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
          <div class="card_content">
            <h2 class="card_title">Card Grid Layout</h2>
            <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
    </ul> -->




</div>




{% endblock %}