{% extends "layout.html" %}

{% block title %}
GSU SHARE Posting Page
{% endblock %}

{% block head %}

{% endblock %}



{% block body %}
<p id="pageTitle"></p>
<h1>Post your resources</h1>
<form_section>
    <form action="#" method="POST">

        <div class="wrapper">
            <input type="hidden" value="" name="contId" id="contId" />
            <label for="title">
                <p>Title: </p>
                <input type="text" id="title" name="title">
            </label>
            <br>
            <label for="author">
                <p>Author: </p>
                <input type="text" id="author" name="author">
            </label>
            <br>
            <label for="tags">
                <p>tags: </p>
                <input type="text" id="tags" name="tags">
            </label>
            <br>

            <label for="the-textarea">
                <p>Description: </p>
                <textarea name="body" id="the-textarea" maxlength="100" placeholder="Start Typin..." autofocus rows="20"
                    cols="100"></textarea>
            </label>
            <div id="the-count">
                <span id="current">0</span>
                <span id="maximum">/ 100</span>
            </div>
        </div>


        <input type="button" value="create_content" onclick="validateForm()" class="input_button"></button>
    </form>
</form_section>
<p id="result"></p>


<script>
    $(document).ready(function () {
        //Once the document is fully loaded, we will read the GET parameter
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const contId = urlParams.get('id');
        //Then we will call the API Server to obtain the JSON data
        //from a specific user (using the Id provided in the URL)
        $.ajax({
            type: 'GET',
            crossDomain: true,
            url: 'http://localhost:3306/cont/' + contId,
            success: function (data) {
                document.getElementById('pageTitle').innerHTML = "Edit content with ID: " + data[0]['id'];
                document.getElementById('contId').value = data[0]['id'];
                document.getElementById('title').value = data[0]['title'];
                document.getElementById('author').value = data[0]['author'];
                document.getElementById('tags').value = data[0]['tags'];
                document.getElementById('body').value = data[0]['body'];
            }
        });

    });
    function validateForm() {

        var title = $("#title").val() == undefined ? '' : $("#title").val().trim();
        title = title.replace(/ /g, '%20');

        var body = $("#the-textarea").val() == undefined ? '' : $("#the-textarea").val().trim();
        body = body.replace(/ /g, '%20');

        var author = $("#author").val() == undefined ? '' : $("#author").val().trim();
        author = author.replace(/ /g, '%20');

        var tags = $("#tags").val() == undefined ? '' : $("#tags").val().trim();
        tags = tags.replace(/ /g, '%20');

        // console.log(content)
        if (title != "" && body != "" && author != "" && tags != "") {
            console.log("Fields are valid...");
            var formData = "title=" + title + "&body=" + body + "author=" + author + "&tags=" + tags;
            console.log(formData);
            $.ajax({
                url: "http://localhost:3306/create",
                type: "POST",
                data: formData,
                success: function (data) {
                    //alert(data['message']);
                    $("#result").html(data['message']);
                    //document.getElementById("result").innerHTML = data['message'];
                    $("#title").val("");
                    $("#the-textarea").val("");
                    $("#author").val("");
                    $("#tags").val("");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Error: " + textStatus + " " + errorThrown);
                }
            })
        }
        else {
            alert("Some of the fields are empty");
            location.reload();
        }
    }
</script>

{% endblock %}