{% extends "layout.html" %}

{% block title %}
GSU SHARE login
{% endblock %}

{% block head%}

<script>
    $.getJSON("http://localhost:3306/contentdb", function (data) {

        var cont = "";
        //Iterating through rows
        $.each(data, function (key, value) {
            cont += "<tr>";
            cont += "<td>" + value.id + "</td>";
            cont += "<td>" + value.title + "</td>";
            cont += "<td>" + value.author + "</td>";
            cont += "<td>" + value.date + "</td>";
            cont += "<td>" + value.tag + "</td>"
            cont += "<td>" +
                "<a href = '{{url_for('postpage')}}?id=" + value.id + "'>Edit</a>&nbsp;&nbsp;" +
                "<a href = 'http://localhost:3306/delete/" + value.id + "'>Delete</a></td>";
            cont += "</tr>";
        });
        //Inserting rows into table
        $('#results').append(cont);
    });
</script>

{% endblock %}



{% block body %}

<h1> List resources </h1> <br>
<a href="{{url_for('logout')}}" class="login">Log out</a>
<table id="results" class="results">
    <tr>
        <th>ID</th>
        <th>title</th>
        <th>author</th>
        <th>posted date</th>
        <th>tags</th>
        <th>Action</th>
    </tr>
</table><br>


{% endblock %}